$theme-colors: (
    "primary": #00003D
);

@import "node_modules/bootstrap/scss/bootstrap";

body {
    padding-top: 30px;
    color: #00003D;
}

.wrap {
    width: 160px;
    height: auto;
}

.project-card-body {
    background-color: #7D82B8;
}

h3 {
    background-color: #7D82B8;
    color: #00003D;
    padding-top: 1px;
    padding-bottom: 2px;
}

.nav-pills .nav-link.active {
    background-color: #00003D;
    color: white;
}

.nav-pills .nav-link:not(.active) {
    color: #00003D;
}

.btn-primary:hover {
    background-color: #CCC7B9;
    color: #816736;
}

.btn-outline-primary:hover {
    color: #816736;
}

.top-of-page-link {
    color: #816736;
}

.list-group-item {
    color: #00003D;
}

footer {
    background-color: #7D82B8;
}